.details {
  
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #22252c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 .empdetails{
   background: linear-gradient(to right, #3498db, #ffffff);
 }
 .table{
   background: linear-gradient(to right, #3498db, #ffffff);
 }
 #h1leave{
  color: black;
 }
  