#nav{
    background: linear-gradient(to right, #3498db, #ffffff);
    height: 100px;
}

#hrms:focus{  
    color: rgb(255, 81, 0);
}

#emplo:focus{  
    color: rgb(255, 81, 0);
    
}

#abou:focus{  
    color: rgb(255, 81, 0);
}
#hrms{
    font-weight: bold;
    color: black;
    font-size: 30px;
}

#abou{
    font-weight: bold;
    color: black;
    font-size: 30px;
}

#emplo{
    font-weight: bold;
    color: black;
    font-size: 30px;
}